@model IEnumerable<ZenithDataLib.Models.Event>
@{
    ViewBag.Title = "Home Page";
}

<div class="row">
    <div class="col-md-12">
        <table class="table">
            @{var list = Model.GroupBy(x => x.EventFromDate.Date).Select(x => x.First()).ToList(); } 
            @foreach (var date in list) {
                <tr>
                    <td>
                        @date.EventFromDate.Date.ToString("dddd") @date.EventFromDate.Date.ToString("D")
                    </td>
                </tr>
                foreach (var item in Model.Where(e => e.EventFromDate.Date.ToString() == date.EventFromDate.Date.ToString())) {
                    <tr>
                        <td>
                            @item.EventFromDate.ToString("hh:mm tt") - @item.EventToDate.ToString("hh:mm tt")
                        </td>
                        <td>
                            @item.Activity.ActivityDescription
                        </td>
                    </tr>
                }
            }
        </table>

    </div>
</div>